.App {
  text-align: center;
  background-image: linear-gradient(180deg, #325388 0%, #031231 100%);
  color: #fff;
  height: 100vh;
}

.App-header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #EA8531;
}

.App-header > img{
  margin-top: 9px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.main > h2{
  margin-top: -15px;
  font-size: 20px;
}

.hidden{
  padding: 2px 0;
  background-color: #a8c2ee;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  border-radius: 50px 50px;
}
@media (max-width:800px) {
  .hidden{
    padding: 2px 0;
    background-color: #a8c2ee;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    border-radius: 50px 50px;
  }
}
.hidden > a > img{
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.hidden > a{
  color: #fff;
  background-color: #EA8531;
  text-decoration: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  /* padding: 4px 7px 7px 5px; */
  font-size: small;
}
.min{
  width: 80vw;
}
.min > .smt{
  float: right;
  color: #fff;
  background-color: #EA8531;
  text-decoration: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  /* padding: 4px 7px 7px 5px; */
  font-size: small;
  cursor: pointer;
}
.minn{
  display: none;
}
.hid{
  display: none;
}
.logo-text{
  color: #fff;
  margin-top: -4px;
}